*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* Inicio HEADER */

header{
   
    background-color: #1D2731;
    width: 100%;
    height: auto;
    position: fixed;
    
}

.contenedor{
    width: 90%;
    max-width: 1410px;
    margin: auto;
    
}

.head{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: auto;
    
}


.Menu{
    font-family: 'Material icons';
    font-size: 35px;
    color: #ffffff;
    cursor: pointer;
}

.Menu:hover{
    color: #ffc400;
}

.logonivel{
    width: 70px;
    margin-right: 25px;
}

.logonivel img{
    width: 100%;
}

h3{
    color: #eff3f5;
}

.BtnHome{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.IconHome{
    font-family: 'Material icons';
    font-size: 35px;
    color: #ffffff;
    
}

.IconHome:hover{
    color: #ffc400;
}

.Home{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
    color: #eff3f5;
    position: relative;
}

.Home::before{
    content: "";
    position: absolute;
    width: 100%; height: 2px;
    background-color: #ffc400;
    border-radius: 100px;
    bottom: -2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}

.Home:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}
/* FIN HEADER */

/* INICIO SECCION TEMAS */

.Temario{
    
    color: #ffc400;
}

.TemarioNivel{

    background-color: #181b32;
    width: 100%;
    padding-bottom: 20px;
    overflow: hidden;
    /* height: auto;  --> Cambiar cuando terminen de implementar todo  */
}
.indice{
    position:fixed;
    margin-top: 200px;
    width: 25%;
    
}


.subtema{
    padding-left: 7%;
    list-style: none;
}

h2{
    color: #878fb8;
}

h3{
    color: #ffffff;
    margin-top: 20px;
    margin-left: 20px;
}

h4{
    color: #eff3f5;
}
p{
    color: #cccbcb;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 30px;
}
.SECCION{
    padding-left: 10%;
}
.contenido{
    background-color: #2c2f48;
    border-radius: 40px;
    margin-left: 5%;
    margin-top: 200px;
    width: 70%;
    float: right;
    padding: 24px;
}

img{
    margin: 20px;
    height:auto;
}

ul{
    padding-left: 3%;
    color: #0bd4c1;
}

li{
    color: #0bd4c1;
    margin-left: 35px;
    margin-top: 4px;
}
a{
    text-decoration: none;
    color: #ffffff;
}

strong{
    color: #ffdb9e;
    margin-left: 10px;
}

.TemaTeoria{
    margin-top: 50px;
}

.subtitulo{
    margin-top: 30px;
    margin-left: 40px;
}
/* FIN SECCION TEMAS */


/* INICIO FOOTER */

footer{
    background-color: #121a21;
    width: 100%;
    height: 50px;
}

/* FIN FOOTER */