*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* Inicio HEADER */

header{
   
    background-color: #202F36;
    width: 100%;
    height: auto;
    padding: 15px 0;
}

.contenedor{
    width: 90%;
    max-width: 1410px;
    margin: auto;
    
}

.head{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: auto;
}


.Menu{
    font-family: 'Material icons';
    font-size: 35px;
    color: #ffffff;
    
}

.logo{
    width: 60px;
    margin: 0 25px;
}

.logo img{
    width: 100%;
}

h3{
    color: #eff3f5;
}

.IconHome{
    font-family: 'Material icons';
    font-size: 35px;
    color: #ffffff;
    margin-left: auto;
}

.Home{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    color: #eff3f5;
}

/* FIN HEADER */

/* INICIO SECCION TEMAS */

.TemarioNivel{

    background-color: #20425E;
    width: 100%;
    padding-bottom: 20px;
    overflow: hidden;
    /* height: auto;  --> Cambiar cuando terminen de implementar todo  */
}
.indice{
    position:fixed;
    margin-top: 4%;
    width: 25%;  
}

.SUBTEMA{
    padding-left: 7%;
    list-style: none;
}
.SECCION{
    padding-left: 10%;
}
.contenido{
    margin-left: 5%;
    margin-top: 4%;
    width: 70%;
    float: right;
}

img{
    margin: 20px;
    height:auto
}

ul{
    padding-left: 3%;
}
a{
    text-decoration: none;
    color: #ffffff;
}
/* FIN SECCION TEMAS */


/* INICIO FOOTER */

footer{
    background-color: #121a21;
    width: 100%;
    height: 50px;
}

/* FIN FOOTER */